body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: clamp(200px,20%,250px)  4fr ;
    grid-template-rows: clamp(100px,20%,150px) 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main_content" ;
}

.sidebar{
    background-color: #0BA6DF;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px ;
    gap: 30px;
    color: white;
}
.sidebar img {
    filter: brightness(0) invert(1);
}

.header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}
.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
}

.menu_items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    gap: 15px;
}
.menu_items:hover{
    cursor: pointer;
    color: white;
    transition: 0.5s;
    scale: 1.04;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 36% 1fr;
}
.header-top{
    display: grid;
    grid-template-columns: 70% 30%;
}
.header .top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-bottom{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.greet{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-left: 50px;
}
.greet .hello{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn button{
    border: none;
    background-color: #0BA6DF;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 100px;
}
.btn button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    transition: 1s;
    scale: 1.03;
    border: 1px solid black;
}

.main_content{
    display:grid;
    grid-template-columns:70% 30%;
    background-color: #e0e9f4;
}

.project{
    display: flex;
    flex-direction: column;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    gap: 20px;
    padding: 0px 20px 50px 20px;
}

.project-solo{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    border-radius: 8px;
    border-left: 5px solid rgb(241, 225, 52);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-name{
    font-weight: bold;
    font-size: 15px;
}
.project-details{
    font-size: 12px;
    color: grey;
}
.icons{
    display: flex;
    position: absolute;      
    right: 10px;          
    bottom: 10px;
    gap: 10px;
}
.icons img{
    height: 18px;
}

.main-right{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
}
.profiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    background-color: white;
    height: 100%;
}

.profile{
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
}