body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: clamp(200px,20%,250px)  4fr ;
    grid-template-rows: clamp(100px,20%,150px) 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main_content" ;
}

.sidebar{
    background-color: blue;
}
.header{
    background-color: grey;
}
