body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: clamp(200px,20%,250px)  4fr ;
    grid-template-rows: clamp(100px,20%,150px) 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main_content" ;
}

.sidebar{
    background-color: #0BA6DF;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px ;
    gap: 30px;
    color: white;
}
.sidebar img {
    filter: brightness(0) invert(1);
}

.header{
    border-bottom: black 1px solid;
}
.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;
}

.menu_items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    gap: 15px;
}
.menu_items:hover{
    cursor: pointer;
    color: white;
    transition: 0.5s;
    scale: 1.04;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}
.header-top{
    display: grid;
    grid-template-columns: 70% 30%;
}
.header .top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-bottom{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.greet{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-left: 50px;
}
.greet .hello{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn button{
    border: none;
    background-color: #0BA6DF;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 100px;
}
.btn button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    transition: 1s;
    scale: 1.03;
    border: 1px solid black;
}